@media (max-width: 900px) {
    .logo{
        width:20%
    }
    .tel{
        width: 70%
    }
    .header-arc1_left_bottom{display: none;}
    .header-arc2_right_top{display: none;}
    .header-arc3_right_top{display: none;}
    .header-arc4_left_top{display: none;}
    .header-rect{display: none;}
    .programm-info{
        flex-direction: column;
        height:115vh ;
    }
    .programm-info__img{
        margin: 0px auto;
        width:100%;
        height: 60%;
    }
    .programm-info__img>img{
        height: 100%;
        margin-top: 5%;
    }
    .programm-info__text{
        /*margin-top: -5%;*/
        margin:0px auto;
        width:100%;
        height: 40%;
    }
    .pluses{
        height:40% ;
    }
    .minuses{
        height:40% ;
    }
    .versions{
        margin-bottom: 50px;
    }
    .version{
        width:25%;
        margin-top: 50px;
    }
    .img-sign{
        width: 90%;
        
    }
    .sign-image{
        display: none;
    }
    .signin{
        width: 100%;
    }
    .signin-input{
        margin-bottom: 2%;
        margin-left: -7%;
    }
    .footer-soc-sites{
        width: 60%;
    }
    .place{
        height: 300px;
    }
    .pluses-and-minuses{
        display: none;
    }
    .experement-place{
        display: none;
    }
}

@media (max-width:600px){
    body{
        background: red;
    }
    .v-button{
        height: 70px;
    }
    .place{
        height: 220px;
    }
    .about{
        display: none;
    }
}